After this practice you'll learn:

 -create a 2-d table in python
 
 -sum up a certain column of value
 
 -find a maximum value
 
 -find a minimum value 
 
 -calculate median
 
 -calculate mean
 
 -caluculate mode
 
 -calcualte quantile 
 
 -other descriptive statistic value such as varaicne or SD

In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [10]:
# 1-1 I want to make 2-d array using python. how?
#you can make by creaing sets of dictionary for each value. 
data= {\
      'age': [20,23,49,38,32,29,30,32,26],\
      'gender': ['male','female','male','female','female','female','female','male', np.nan]\
      }
print(data)

{'age': [20, 23, 49, 38, 32, 29, 30, 32, 26], 'gender': ['male', 'female', 'male', 'female', 'female', 'female', 'female', 'male', nan]}

Key needs 'quotation marks' value needs 'bracket' and curly bracket holds differnt a set of dictionary.

In [11]:
#1-2 put sets of dicnationary into Dataframe
data=pd.DataFrame(data)
print(data)

   age  gender
0   20    male
1   23  female
2   49    male
3   38  female
4   32  female
5   29  female
6   30  female
7   32    male
8   26     NaN

In [12]:
#2I want to sum up the age column. how?
data['age'].sum()

279

When you wan to retreive a certain row or columns, this is the process you need:
    1.Braing a DF
    2.call the name of column

In [13]:
# I wan to know the maximum value in the 'age' column. how?
data['age'].max()

49

In [14]:
# I wan to know the minimum value in the 'age' column. how?
data['age'].min()

20

In [15]:
# I want to know the means ofthe 'age' column. how?
data['age'].mean()

31.0

In [16]:
# I want to know the median oft he 'age' column. how?
data['age'].median()

30.0

In [17]:
# I want to know the variance of the 'age' column. how?
data['age'].var()

73.75

In [19]:
# I want to know the standard deviation of the 'age' column. how?
data['age'].std()

8.587782018658833

In [20]:
# I want to power the 'age' columns 
pow(data['age'],3)

0      8000
1     12167
2    117649
3     54872
4     32768
5     24389
6     27000
7     32768
8     17576
Name: age, dtype: int64

In [24]:
# I want to know 1st, 2nd, 3rd, 4th quantile of the column 'age'. how?
print(data['age'].quantile(q=0.25))
print(data['age'].quantile(q=0.5))
print(data['age'].quantile(q=0.75))
print(data['age'].quantile(q=1))

26.0
30.0
32.0
49.0