The type of data in PANDAS: Seires, Pandas 

    What I'm going to learn : 

1.You'll be able to discern the difference between Series tpyes and DataFrame types.

2.You'll be able to make a Series types by using Python.

3.You'll be able to make a Data Frame types by using Python.

4.You'll be able to do 6 diffrent maniuplations.

In [2]:
import pandas as pd

In [7]:
# Make a list of fruits 
fruits=['apple','banana','grapes','strawberry']

In [9]:
#Tweak the list into series types 
seires_f=pd.Series(fruits)
print(seires_f)

0         apple
1        banana
2        grapes
3    strawberry
dtype: object

In [20]:
# Make a list of fruits in 2-d array[1 row, 2 col]
fruits_2=(['apple','Seasoned',34],
       ['banana','UnSeasoned',20],
       ['grapes','UnSeasoned',15],
       ['Strawberry','UnSeasoned',15])
print(fruits_2)

(['apple', 'Seasoned', 34], ['banana', 'UnSeasoned', 20], ['grapes', 'UnSeasoned', 15], ['Strawberry', 'UnSeasoned', 15])

In [21]:
#Tweak the list into Data Frame types 
fruits_2=pd.DataFrame(fruits_2)
print(fruits_2)

            0           1   2
0       apple    Seasoned  34
1      banana  UnSeasoned  20
2      grapes  UnSeasoned  15
3  Strawberry  UnSeasoned  15

In [22]:
#How can you change the indext of a Dataframe?
fruits_2.index=['1st','2nd','3rd','4th']
fruits_2

              0           1   2
1st       apple    Seasoned  34
2nd      banana  UnSeasoned  20
3rd      grapes  UnSeasoned  15
4th  Strawberry  UnSeasoned  15

In [23]:
#How can you change the columns of a Dataframe?
fruits_2.columns=['Name','Ripeness','Quantity']
fruits_2

           Name    Ripeness  Quantity
1st       apple    Seasoned        34
2nd      banana  UnSeasoned        20
3rd      grapes  UnSeasoned        15
4th  Strawberry  UnSeasoned        15

In [24]:
#How can you extract a specific column in a DF?
fruits_2['Quantity']

1st    34
2nd    20
3rd    15
4th    15
Name: Quantity, dtype: int64

In [27]:
type(fruits_2['Quantity'])
#Note: It's Series type

pandas.core.series.Series

In [25]:
#How can you extract multiple columns in a DF?
fruits_2[['Quantity','Name']]

     Quantity        Name
1st        34       apple
2nd        20      banana
3rd        15      grapes
4th        15  Strawberry

In my opinon brakets in here siginify a dimension.

In [28]:
#How can you extract a specific row in a DF?_1
#1 Index Order
fruits_2[1:3]

       Name    Ripeness  Quantity
2nd  banana  UnSeasoned        20
3rd  grapes  UnSeasoned        15

In [29]:
#Note: The Process begins at 1 but the end point doesn't acutally 3. It's before the number.

In [31]:
#How can you extract a specific row in a DF?_2
#2 The names of Index
fruits_2['2nd':'3rd']

       Name    Ripeness  Quantity
2nd  banana  UnSeasoned        20
3rd  grapes  UnSeasoned        15