<a href="https://colab.research.google.com/github/Big-Shu-Nim/My-PNM-Practice-Challenges/blob/main/220304_How_to_turn_'object_data'_to_datetype.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd

x_train=pd.read_csv('bike_x_train.csv', encoding='cp949')
x_test=pd.read_csv('bike_x_test.csv' , encoding='cp949')
y_train=pd.read_csv('bike_y_train.csv' , encoding='cp949')
print(x_train.head(3))
print(x_test.head(3))
print(y_train.head(3))

          datetime  계절  공휴일  근무일  날씨    온도    체감온도  습도   풍속
0  2011-01-01 0:00   1    0    0   1  9.84  14.395  81  0.0
1  2011-01-01 1:00   1    0    0   1  9.02  13.635  80  0.0
2  2011-01-01 2:00   1    0    0   1  9.02  13.635  80  0.0
          datetime  계절  공휴일  근무일  날씨     온도    체감온도  습도       풍속
0  2011-01-20 0:00   1    0    1   1  10.66  11.365  56  26.0027
1  2011-01-20 1:00   1    0    1   1  10.66  13.635  56   0.0000
2  2011-01-20 2:00   1    0    1   1  10.66  13.635  56   0.0000
         癤풼atetime  count
0  2011-01-01 0:00     16
1  2011-01-01 1:00     40
2  2011-01-01 2:00     32

In [9]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)

(10886, 9)
(6493, 9)
(10886, 2)

In [10]:
print(x_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  10886 non-null  object
 1   계절        10886 non-null  int64
 2   공휴일       10886 non-null  int64
 3   근무일       10886 non-null  int64
 4   날씨        10886 non-null  int64
 5   온도        10886 non-null  float64
 6   체감온도      10886 non-null  float64
 7   습도        10886 non-null  int64
 8   풍속        10886 non-null  float64
dtypes: float64(3), int64(5), object(1)
memory usage: 765.5+ KB
None

In [11]:
print(x_train['계절'].unique())
print(x_train['공휴일'].unique())
print(x_train['근무일'].unique())

[1 2 3 4]
[0 1]
[0 1]

In [12]:
print(x_train.describe().T)

        count       mean        std   min      25%     50%      75%       max
계절    10886.0   2.506614   1.116174  1.00   2.0000   3.000   4.0000    4.0000
공휴일   10886.0   0.028569   0.166599  0.00   0.0000   0.000   0.0000    1.0000
근무일   10886.0   0.680875   0.466159  0.00   0.0000   1.000   1.0000    1.0000
날씨    10886.0   1.418427   0.633839  1.00   1.0000   1.000   2.0000    4.0000
온도    10886.0  20.230860   7.791590  0.82  13.9400  20.500  26.2400   41.0000
체감온도  10886.0  23.655084   8.474601  0.76  16.6650  24.240  31.0600   45.4550
습도    10886.0  61.886460  19.245033  0.00  47.0000  62.000  77.0000  100.0000
풍속    10886.0  12.799395   8.164537  0.00   7.0015  12.998  16.9979   56.9969

In [14]:
#어떻게 두개의 데이터프레임을 합치나요? 
data=pd.concat([x_train,y_train], axis=1)
#  axis=1을 하면 열을 기준으로 같은행을 그대로 쓰고 케이스만 덧붙인다.

In [15]:
print(data.groupby(['계절'])['count'].sum())

계절
1    312498
2    588282
3    640662
4    544034
Name: count, dtype: int64

In [17]:
print(data.groupby(['공휴일'])['count'].sum())

공휴일
0    2027668
1      57808
Name: count, dtype: int64

In [18]:
print(data.groupby(['근무일'])['count'].sum())

근무일
0     654872
1    1430604
Name: count, dtype: int64

In [20]:
print(data.groupby(['날씨'])['count'].sum())

날씨
1    1476063
2     507160
3     102089
4        164
Name: count, dtype: int64

In [ ]:
#object 타입의 날짜가 있어요. 이것을 활용하기 위해서는 연도 | 월 | 요일 | 시간대로 나눠야해요.
#어떻게하죠?

In [21]:
#1. 해당 칼럼을 날짜로 변경해야해요
#2. 각 값을 년/월/요일/시간으로 분리해야한답니다.
#3. 요일정보가 없는경우 직접 만들수 있어요.

In [24]:
x_train['datetime']=pd.to_datetime(x_train['datetime'])

In [25]:
x_train['year']=x_train['datetime'].dt.year

In [27]:
print(x_train['year'].unique())

[2011 2012]

In [30]:
x_train['month']= x_train['datetime'].dt.month
print(x_train['month'].unique())

[ 1  2  3  4  5  6  7  8  9 10 11 12]

In [34]:
  x_train['day']=x_train['datetime'].dt.day

In [35]:
print(x_train['day'].unique())

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]

In [36]:
x_train['hour']=x_train['datetime'].dt.hour
print(x_train['hour'].unique())

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]

In [38]:
x_train['dayofweek'] = x_train['datetime'].dt.dayofweek
print(x_train['dayofweek'].unique())

[5 6 0 1 2 3 4]

In [39]:
data2=pd.concat([x_train,y_train], axis=1)

In [40]:
print(data2.groupby(['year'])['count'].sum())

year
2011     781979
2012    1303497
Name: count, dtype: int64

In [41]:
print(data2.groupby(['month'])['count'].sum())

month
1      79884
2      99113
3     133501
4     167402
5     200147
6     220733
7     214617
8     213516
9     212529
10    207434
11    176440
12    160160
Name: count, dtype: int64

In [42]:
print(data2.groupby(['hour'])['count'].sum())

hour
0      25088
1      15372
2      10259
3       5091
4       2832
5       8935
6      34698
7      96968
8     165060
9     100910
10     79667
11     95857
12    116968
13    117551
14    111010
15    115960
16    144266
17    213757
18    196472
19    143767
20    104204
21     79057
22     60911
23     40816
Name: count, dtype: int64

In [43]:
print(data2.groupby(['dayofweek'])['count'].sum())

dayofweek
0    295296
1    291985
2    292226
3    306401
4    302504
5    311518
6    285546
Name: count, dtype: int64

In [44]:
print(data2.groupby(['day'])['count'].sum())

day
1     103692
2     105381
3     111561
4     112335
5     109115
6     108600
7     105486
8     102770
9     108041
10    111645
11    111146
12    109257
13    111448
14    112406
15    115677
16    109837
17    118255
18    108437
19    110387
Name: count, dtype: int64