<a href="https://colab.research.google.com/github/Big-Shu-Nim/My-PNM-Practice-Challenges/blob/main/220305__dt_function_%7C_how_to_manupipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
x_train=pd.read_csv('bike_x_train.csv', encoding='cp949')
y_train=pd.read_csv('bike_y_train.csv', encoding='cp949')
x_test=pd.read_csv('bike_x_test.csv', encoding='cp949')
print(x_train.head(3))
print(x_test.head(3))
print(y_train.head(3))

          datetime  계절  공휴일  근무일  날씨    온도    체감온도  습도   풍속
0  2011-01-01 0:00   1    0    0   1  9.84  14.395  81  0.0
1  2011-01-01 1:00   1    0    0   1  9.02  13.635  80  0.0
2  2011-01-01 2:00   1    0    0   1  9.02  13.635  80  0.0
          datetime  계절  공휴일  근무일  날씨     온도    체감온도  습도       풍속
0  2011-01-20 0:00   1    0    1   1  10.66  11.365  56  26.0027
1  2011-01-20 1:00   1    0    1   1  10.66  13.635  56   0.0000
2  2011-01-20 2:00   1    0    1   1  10.66  13.635  56   0.0000
         癤풼atetime  count
0  2011-01-01 0:00     16
1  2011-01-01 1:00     40
2  2011-01-01 2:00     32

In [6]:
print(x_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  10886 non-null  object
 1   계절        10886 non-null  int64
 2   공휴일       10886 non-null  int64
 3   근무일       10886 non-null  int64
 4   날씨        10886 non-null  int64
 5   온도        10886 non-null  float64
 6   체감온도      10886 non-null  float64
 7   습도        10886 non-null  int64
 8   풍속        10886 non-null  float64
dtypes: float64(3), int64(5), object(1)
memory usage: 765.5+ KB
None

In [7]:
print(x_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6493 entries, 0 to 6492
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  6493 non-null   object
 1   계절        6493 non-null   int64
 2   공휴일       6493 non-null   int64
 3   근무일       6493 non-null   int64
 4   날씨        6493 non-null   int64
 5   온도        6493 non-null   float64
 6   체감온도      6493 non-null   float64
 7   습도        6493 non-null   int64
 8   풍속        6493 non-null   float64
dtypes: float64(3), int64(5), object(1)
memory usage: 456.7+ KB
None

In [9]:
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   癤풼atetime  10886 non-null  object
 1   count      10886 non-null  int64
dtypes: int64(1), object(1)
memory usage: 170.2+ KB
None

In [10]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)

(10886, 9)
(6493, 9)
(10886, 2)

In [14]:
x_train_2a=x_train.copy()
#Just in case I make a mistake.

In [15]:
#--x_train['year']=x_train.dt['year']
#this was the thing I could remembe for today. 
#Now I'm going to relearn my code

In [16]:
x_train['datetime']=pd.to_datetime(x_train['datetime'])
#object타입인 날짜 정보를 pd.to_datetime 함수를 이용해서 바꾼다.

Object인 날짜 데이터를 날짜형 데이터로 바꿔주는 매쏘드는 무엇인가요?

In [20]:
x_train['year']=x_train['datetime'].dt.year
x_train['month']=x_train['datetime'].dt.month
x_train['day']=x_train['datetime'].dt.day
x_train['hour']=x_train['datetime'].dt.hour
x_train['dayofweek']=x_train['datetime'].dt.dayofweek

In [22]:
def D_helper(datetime):
  x_train['year']=x_train['datetime'].dt.year
  x_train['month']=x_train['datetime'].dt.month
  x_train['day']=x_train['datetime'].dt.day
  x_train['hour']=x_train['datetime'].dt.hour
  x_train['dayofweek']=x_train['datetime'].dt.dayofweek

In [ ]:
# Somethig is werid. I don't this is going to work.

List Manipulation Practice

In [26]:
list1=[30,10,20]
print('현재리스트', list1)
print('현재 리스트 : %s'%list1)

현재리스트 [30, 10, 20]
현재 리스트 : [30, 10, 20]

In [28]:
#현재 차이를 모르겠다. 무엇인지 모르고 타이핑은 의미없으므로 조작함수만 배우겠다

In [44]:
list1.append(40)
print('현재리스트:', list1)
print('pop()으로 추출한 값 :',list1.pop())
list1.sort()
print('sort이후의값:',list1)
list1.reverse()
print('after Reverse',list1)
list1.insert(2,222)
print('after insert', list1)
list1.remove(222)
print('after remove', list1) # 왜 안없어지지
list1.extend([78,88,77])
print('after extend', list1)
print('77value counts', list1.count(77))

현재리스트: [40, 222, 30, 20, 10, 78, 88, 77, 40]
pop()으로 추출한 값 : 40
sort이후의값: [10, 20, 30, 40, 77, 78, 88, 222]
after Reverse [222, 88, 78, 77, 40, 30, 20, 10]
after insert [222, 88, 222, 78, 77, 40, 30, 20, 10]
after remove [88, 222, 78, 77, 40, 30, 20, 10]
after extend [88, 222, 78, 77, 40, 30, 20, 10, 78, 88, 77]
77value counts 2